body {
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
header {
  background: aqua;
  height: 200px;
}
main {
  background: wheat;
  flex-grow: 1;
}
footer {
  background: yellowgreen;
  height: 200px;
}